.dropdown-show
    a.btn.btn-secondary.dropdown-toggle(href="#", role="button", id="dropdownMenuLink", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Уведомления
        .ico-circle
            .ico-number 6

    .dropdown-menu(aria-labelledby="dropdownMenuLink")
        a.dropdown-item(href="#") Документы
        a.dropdown-item(href="#") План
        a.dropdown-item(href="#") Оплата
        a.dropdown-item(href="#") Стадии
        a.dropdown-item(href="#") Online
        a.dropdown-item(href="#") Инструкция
        //a.dropdown-item(href="#") Уведомления
        //    .ico-circle
        //        .ico-number 6