.dropdown
    a.dropdown-toggle(href="#", data-toggle="dropdown") Уведомления
        .ico-circle
            .ico-number 6
    .dropdown-menu(aria-labelledby="dropdownMenuLink")
        a.dropdown-item(href="#") Документы
        a.dropdown-item(href="#") План
        a.dropdown-item(href="#") Оплата
        a.dropdown-item(href="#") Стадии
        a.dropdown-item(href="#") Online
        a.dropdown-item(href="#") Инструкция