section.events
    .container
        ul.events__list
            li.events__item
                a.events__link(href="#")
                    time.events__time(datetime="07-14") 14/07
                    span.events__news Акция
                    p.events__about Гелиоцентрическое расстояние,как принято считать, продольно перечеркивает липарит.
            li.events__item
                a.events__link(href="#")
                    time.events__time(datetime="07-14") 14/07
                    span.events__news Новости
                    p.events__about Гелиоцентрическое расстояние,как принято считать, продольно перечеркивает липарит.
            li.events__item
                a.events__link(href="#")
                    time.events__time(datetime="07-14") 14/07
                    span.events__news Акции
                    p.events__about Гелиоцентрическое расстояние,как принято считать, продольно перечеркивает липарит.
            li.events__item
                a.events__link(href="#")
                    time.events__time(datetime="07-14") 14/07
                    span.events__news События
                    p.events__about Гелиоцентрическое расстояние,как принято считать, продольно перечеркивает липарит.