.footer
    .container
        .footer__wrapper
            ul.footer__list
                li.footer__item
                    a.footer__title.icon-facebook(href="#")
                        span.second Facebook
                li.footer__item
                    a.footer__title.icon-vkontakte(href="#")
                        span.second Vkontakte
                li.footer__item
                    a.footer__title.icon-instagram(href="#")
                        span.second Instagram
                li.footer__item
                    a.footer__title.icon-odnoklassniki(href="#")
                        span.second Odnoklassniki
                li.footer__item
                    a.footer__title.icon-youtube(href="#")
                        span.second Youtube

