.footer
    .container
        .footer__wrapper
            ul.footer__list
                li.footer__item
                    a.footer__title.icon-facebook(href="#")
                        span.second Facebook
                li.footer__item
                    a.footer__title.icon-vkontakte(href="#")
                        span.second Vkontakte
                li.footer__item
                    a.footer__title.icon-instagram(href="#")
                        span.second Instagram
                li.footer__item
                    a.footer__title.icon-odnoklassniki(href="#")
                        span.second Odnoklassniki
                li.footer__item
                    a.footer__title.icon-youtube(href="#")
                        span.second Youtube
            p.footer__phone +7 000 000-00-00
            p.footer__address Адрес, улица, дои, корпус
            p.footer__mail post@comp.com
        .footer-sect
            h3.footer-sect__title Раздел №1
            ul.footer-sect__list
                li.footer-sect__about Подраздел №1
                li.footer-sect__about Подраздел №2
                li.footer-sect__about Подраздел №3
                li.footer-sect__about Подраздел №4
                li.footer-sect__about Подраздел №5
                li.footer-sect__about Подраздел №6
        .footer-sect
            h3.footer-sect__title Раздел №2
            ul.footer-sect__list
                li.footer-sect__about Подраздел №1
                li.footer-sect__about Подраздел №2
                li.footer-sect__about Подраздел №3
                li.footer-sect__about Подраздел №4
        .footer-sect
            h3.footer-sect__title Раздел №3
            ul.footer-sect__list
                li.footer-sect__about Подраздел №1
                li.footer-sect__about Подраздел №2
                li.footer-sect__about Подраздел №3
                li.footer-sect__about Подраздел №4
                li.footer-sect__about Подраздел №5
                li.footer-sect__about Подраздел №6
        .footer-sect
            ul.footer-sect__list
                li.footer-sect__about Подраздел №1
                li.footer-sect__about Подраздел №2
                li.footer-sect__about Подраздел №3
