.footer
    a.footer__up.up(href="#" onclick="return up()")
    .container
        .footer__wrapper
            ul.footer__list
                li.footer__item
                    a.footer__item__title.icon-facebook(href="#")
                        span.second Facebook
                li.footer__item
                    a.footer__item__title.icon-twitter(href="#")
                        span.second Twitter
                li.footer__item
                    a.footer__item__title.icon-rss(href="#")
                        span.second RSS
                li.footer__item
                    a.footer__item__title.icon-google(href="#")
                        span.second Google Plus
                li.footer__item
                    a.footer__item__title.icon-linkedin(href="#")
                        span.second LinkedIn
                li.footer__item
                    a.footer__item__title.icon-skype(href="#")
                        span.second Skype
                li.footer__item
                    a.footer__item__title.icon-vimeo(href="#")
                        span.second Vimeo
                li.footer__item
                    a.footer__item__title.icon-tumblr(href="#")
                        span.second Tumblr
            a.footer__author(href="#") Kazi Erfan &#169 All Rights Reserved
