.footer
    .container
        .wrapper-location
            ul.icons
                li.icons__item
                    a.icons__title.icon-facebook(href="#")
                        span.second Facebook
                li.icons__item
                    a.icons__title.icon-vkontakte(href="#")
                        span.second Vkontakte
                li.icons__item
                    a.icons__title.icon-instagram(href="#")
                        span.second Instagram
                li.icons__item
                    a.icons__title.icon-odnoklassniki(href="#")
                        span.second Odnoklassniki
                li.icons__item
                    a.icons__title.icon-youtube(href="#")
                        span.second Youtube
            p.phone +7 000 000-00-00
            p.address Адрес, улица, дои, корпус
            a.mail(href="#") post@comp.com
        .wrapper-navigation
            .chapter
                h3.chapter__title Раздел №1
                    .arrow-bottom-transparent(data-tog)
                ul.chapter__list
                    li.chapter__about
                        a.chapter__link(href="#") Подраздел №1
                    li.chapter__about
                        a.chapter__link(href="#") Подраздел №2
                    li.chapter__about
                        a.chapter__link(href="#") Подраздел №3
                    li.chapter__about
                        a.chapter__link(href="#") Подраздел №4
                    li.chapter__about
                        a.chapter__link(href="#") Подраздел №5
                    li.chapter__about
                        a.chapter__link(href="#") Подраздел №6
            .chapter
                h3.chapter__title Раздел №2
                    .arrow-bottom-transparent
                ul.chapter__list
                    li.chapter__about
                        a.chapter__link(href="#") Подраздел №1
                    li.chapter__about
                        a.chapter__link(href="#") Подраздел №2
                    li.chapter__about
                        a.chapter__link(href="#") Подраздел №3
                    li.chapter__about
                        a.chapter__link(href="#") Подраздел №4
            .chapter
                h3.chapter__title Раздел №3
                    .arrow-bottom-transparent
                ul.chapter__list
                    li.chapter__about
                        a.chapter__link(href="#") Подраздел №1
                    li.chapter__about
                        a.chapter__link(href="#") Подраздел №2
                    li.chapter__about
                        a.chapter__link(href="#") Подраздел №3
                    li.chapter__about
                        a.chapter__link(href="#") Подраздел №4
                    li.chapter__about
                        a.chapter__link(href="#") Подраздел №5
                    li.chapter__about
                        a.chapter__link(href="#") Подраздел №6
            .chapter
                ul.chapter__list
                    li.chapter__about
                        a.chapter__link(href="#") Подраздел №1
                    li.chapter__about
                        a.chapter__link(href="#") Подраздел №2
                    li.chapter__about
                        a.chapter__link(href="#") Подраздел №3
