header.header
    .wrapper
        .logo: img.logo__picture(src="images/logo.png" width="146px" height="41px" alt="picture")
        include nav
        .comparison
            a.comparison__link(href="#")
                span.comparison__ico-list
                span.comparison__ico-circle
                    .comparison__ico-number 3
                span.comparison__text-list Сравнение
        .dropdown
            a.dropdown-toggle(href="#", data-toggle="dropdown") Личный кабинет
            .dropdown-menu(aria-labelledby="dropdownMenuLink")
                form.contact-form(action='#')
                    label.form-text(for='name') Логин
                    input#name.form-control(type='text' name='name' placeholder='name')
                    label.form-text(for='password') Пароль
                    input#password.form-control(type="password" name="psw")
                    button.button(type='submit') Войти
        p.phone +7 000 000-00-00
            button.btn-phone.btn(type="submit")
                span.btn-phone__phone-circle
                    .hovicon
                span.btn-phone__ico-telephone
        .toggle.btn-burger(data-toggle="main")
            span
            span
            span
            span
    .hero
        .container
            p.hero__about Адрес 123
            h1.hero__title Объект №51