header.header
    .wrapper
        .logo: img.logo__picture(src="images/logo.png" width="146px" height="41px" alt="picture")
        include nav
        .comparison
            a.comparison__link(href="#")
                span.comparison__ico-list
                span.comparison__ico-circle
                span.comparison__ico-number 3
                span.comparison__text-list Сравнение
        a.account.btn(href="#")
            span.account__text Личный кабинет
        p.phone +7 000 000-00-00
        button.btn-phone.btn(type="submit")
            span.btn-phone__phone-circle
                .hovicon
            span.btn-phone__ico-telephone
        .toggle.btn-burger
            span
            span
            span
            span
    .hero
        .container
            p.hero__about Адрес 123
            h1.hero__title Объект №51