header.header
    .header__wrapper
        .header__wrapper-left
            .header__logo: img.logo__picture(src="images/logo.png" width="146px" height="41px" alt="picture")
            include nav
        .header__wrapper-write
            .header__comparison-list
                a.header__comparison(href="#")
                    span.header__ico-list
                    span.header__ico-circle
                    span.header__ico-number 3
                    span.header__text-list Сравнение
            a.header__account.btn(href="#")
                span.header__account__text Личный кабинет
            p.header__phone +7 000 000-00-00
            button.btn-phone.btn(type="submit")
                span.header__phone-circle
                    .hovicon
                span.header__ico-telephone
            .header__toggle.btn-burger
                span
                span
                span
                span
    .header__hero
        .container
            p.header__about Адрес 123
            h1.header__title Объект №51