section.main-container
    .container
        aside.main-container__list
            ul.main-container__nav
                li.main-container__item
                    a.main-container__link(href="#") Документы
                li.main-container__item
                    a.main-container__link(href="#") План
                li.main-container__item
                    a.main-container__link(href="#") Оплата
                li.main-container__item
                    a.main-container__link(href="#") Стадии
                li.main-container__item
                    a.main-container__link(href="#") Online
                li.main-container__item
                    a.main-container__link(href="#") Инструкция
                li.main-container__item
                    a.main-container__link.active(href="#") Уведомления
            ul.main-container__list-address
                li.main-container__address-item
                    h3.main-container__address__title Адрес 123
                    .container-list-address
                        p.main-container__address__about Адрес 123
                        a.main-container__address__link(href="#") Перейти
                            span.main-container__address__arrow
                li.main-container__address-item
                    h3.main-container__address__title Адрес 123
                    .container-list-address
                        p.main-container__address__about Адрес 123
                        a.main-container__address__link(href="#") Перейти
                            span.main-container__address__arrow
        main.main-container__main
            h2.main-container__general-title Уведомления
            article.main-container__story
                time.main-container__time(datetime="17-09-22") 22/09/17
                h3.main-container__title "Вращательный экваториальный момент - актуальная национальная задача"
                .up
                p.main-container__about
                    | Современная критика выслеживает апогей. Малое колебание амбивалентно. Врожденная
                    | интуиция с учетом региональных факторов, осмысленно несовершенный орогенез.
                    br
                    | Актуализация аккумулирует трагический гений. Параметр Родинга-Гамильтона не зависит от скорости вращения
                    | внутреннего кольца подвеса, что не кажется странным, если вспомнить о том, что мы не исключили из
                    | рассмотрения центральной голоцен, однако Зигват считал критерием истинности необходимость и общезначимость,
                    | для которых нет никакой опоры в объективном мире. Весеннее равноденствие обедняет гений, исходя из общих
                    | теорем механики.
                    br
                    | Освобождение, несмотря на не менее значительную.
            article.main-container__story
                time.main-container__time(datetime="17-09-21") 21/09/17
                h3.main-container__title "Реальная власть как концепция"
                .up
                p.main-container__about
                    | Современная критика выслеживает апогей. Малое колебание амбивалентно. Врожденная
                    | интуиция с учетом региональных факторов, осмысленно несовершенный орогенез.
                    br
                    | Актуализация аккумулирует трагический гений. Параметр Родинга-Гамильтона не зависит от скорости вращения
                    | внутреннего кольца подвеса, что не кажется странным, если вспомнить о том, что мы не исключили из
                    | рассмотрения центральной голоцен, однако Зигват считал критерием истинности необходимость и общезначимость,
                    | для которых нет никакой опоры в объективном мире. Весеннее равноденствие обедняет гений, исходя из общих
                    | теорем механики.
                    br
                    | Освобождение, несмотря на не менее значительную.
            article.main-container__story
                time.main-container__time(datetime="17-08-11") 11/08/17
                h3.main-container__title "Из ряда вон выходящий математический маятник: гипотеза и теории"
                .up
                    p.main-container__about
                        | Современная критика выслеживает апогей. Малое колебание амбивалентно. Врожденная
                        | интуиция с учетом региональных факторов, осмысленно несовершенный орогенез.
                        br
                        | Актуализация аккумулирует трагический гений. Параметр Родинга-Гамильтона не зависит от скорости вращения
                        | внутреннего кольца подвеса, что не кажется странным, если вспомнить о том, что мы не исключили из
                        | рассмотрения центральной голоцен, однако Зигват считал критерием истинности необходимость и общезначимость,
                        | для которых нет никакой опоры в объективном мире. Весеннее равноденствие обедняет гений, исходя из общих
                        | теорем механики.
                        br
                        | Освобождение, несмотря на не менее значительную.
            article.main-container__story
                time.main-container__time(datetime="17-08-01") 01/08/17
                h3.main-container__title "Межпланетный знак: методология и особенности"
                .up
                p.main-container__about
                    | Современная критика выслеживает апогей. Малое колебание амбивалентно. Врожденная
                    | интуиция с учетом региональных факторов, осмысленно несовершенный орогенез.
                    br
                    | Актуализация аккумулирует трагический гений. Параметр Родинга-Гамильтона не зависит от скорости вращения
                    | внутреннего кольца подвеса, что не кажется странным, если вспомнить о том, что мы не исключили из
                    | рассмотрения центральной голоцен, однако Зигват считал критерием истинности необходимость и общезначимость,
                    | для которых нет никакой опоры в объективном мире. Весеннее равноденствие обедняет гений, исходя из общих
                    | теорем механики.
                    br
                    | Освобождение, несмотря на не менее значительную.
            article.main-container__story
                time.main-container__time(datetime="17-07-24") 24/07/17
                h3.main-container__title "Юрский маховик: ядро или засветка неба?"
                .up
                p.main-container__about
                    | Современная критика выслеживает апогей. Малое колебание амбивалентно. Врожденная
                    | интуиция с учетом региональных факторов, осмысленно несовершенный орогенез.
                    br
                    | Актуализация аккумулирует трагический гений. Параметр Родинга-Гамильтона не зависит от скорости вращения
                    | внутреннего кольца подвеса, что не кажется странным, если вспомнить о том, что мы не исключили из
                    | рассмотрения центральной голоцен, однако Зигват считал критерием истинности необходимость и общезначимость,
                    | для которых нет никакой опоры в объективном мире. Весеннее равноденствие обедняет гений, исходя из общих
                    | теорем механики.
                    br
                    | Освобождение, несмотря на не менее значительную.
