section.main-container
    .container
        aside.main-container__list
            ul.main-container__nav
                li.main-container__item
                    a.main-container__link(href="#") Документы
                li.main-container__item
                    a.main-container__link(href="#") План
                li.main-container__item
                    a.main-container__link(href="#") Оплата
                li.main-container__item
                    a.main-container__link(href="#") Стадии
                li.main-container__item
                    a.main-container__link(href="#") Online
                li.main-container__item
                    a.main-container__link(href="#") Инструкция
                li.main-container__item
                    a.main-container__link.active(href="#") Уведомления
            ul.main-container__list-address
                li.main-container__address-item
                    h2.main-container__address__title Адрес 123
                    p.main-container__address__about Адрес 123
                    a.main-container__address__link(href="#") Перейти
                li.main-container__address-item
                    h2.main-container__address__title Адрес 123
                    p.main-container__address__about Адрес 123
                    a.main-container__address__link(href="#") Перейти
        main.main-container__main
            article.main-container__story
                time.main-container__time(datetime="17-09-22") 22/09/17