section.main-container
    .container
        aside.list
            include dropdown
            //ul.navigation
            //    li.navigation__item
            //        a.navigation__link(href="#") Документы
            //    li.navigation__item
            //        a.navigation__link(href="#") План
            //    li.navigation__item
            //        a.navigation__link(href="#") Оплата
            //    li.navigation__item
            //        a.navigation__link(href="#") Стадии
            //    li.navigation__item
            //        a.navigation__link(href="#") Online
            //    li.navigation__item
            //        a.navigation__link(href="#") Инструкция
            //    li.navigation__item
            //        a.navigation__link.active(href="#") Уведомления
            ul.list-address
                li.list-address__item
                    h3.list-address__title Адрес 123
                    .list-address__container
                        p.list-address__about Адрес 123
                        a.list-address__link(href="#") Перейти
                            span.arrow-right
                .line
                li.list-address__item
                    h3.list-address__title Адрес 123
                    .list-address__container
                        p.list-address__about Адрес 123
                        a.list-address__link(href="#") Перейти
                            span.arrow-right
        main.main
            h2.main__general-title Уведомления
            article.story
                time.story__time(datetime="17-09-22") 22/09/17
                h3.story__title "Вращательный экваториальный момент - актуальная национальная задача"
                    span.arrow-bottom-top(data-toggle)
                p.story__about(data-about)
                    | Современная критика выслеживает апогей. Малое колебание амбивалентно. Врожденная
                    | интуиция с учетом региональных факторов, осмысленно несовершенный орогенез.
                    br
                    | Актуализация аккумулирует трагический гений. Параметр Родинга-Гамильтона не зависит от скорости вращения
                    | внутреннего кольца подвеса, что не кажется странным, если вспомнить о том, что мы не исключили из
                    | рассмотрения центральной голоцен, однако Зигват считал критерием истинности необходимость и общезначимость,
                    | для которых нет никакой опоры в объективном мире. Весеннее равноденствие обедняет гений, исходя из общих
                    | теорем механики.
                    br
                    | Освобождение, несмотря на не менее значительную.
            article.story
                time.story__time(datetime="17-09-21") 21/09/17
                h3.story__title "Реальная власть как концепция"
                    span.arrow-bottom-top(data-toggle)
                p.story__about(data-about)
                    | Современная критика выслеживает апогей. Малое колебание амбивалентно. Врожденная
                    | интуиция с учетом региональных факторов, осмысленно несовершенный орогенез.
                    br
                    | Актуализация аккумулирует трагический гений. Параметр Родинга-Гамильтона не зависит от скорости вращения
                    | внутреннего кольца подвеса, что не кажется странным, если вспомнить о том, что мы не исключили из
                    | рассмотрения центральной голоцен, однако Зигват считал критерием истинности необходимость и общезначимость,
                    | для которых нет никакой опоры в объективном мире. Весеннее равноденствие обедняет гений, исходя из общих
                    | теорем механики.
                    br
                    | Освобождение, несмотря на не менее значительную.
            article.story
                time.story__time(datetime="17-08-11") 11/08/17
                h3.story__title "Из ряда вон выходящий математический маятник: гипотеза и теории"
                    span.arrow-bottom-top(data-toggle)
                p.story__about(data-about)
                    | Современная критика выслеживает апогей. Малое колебание амбивалентно. Врожденная
                    | интуиция с учетом региональных факторов, осмысленно несовершенный орогенез.
                    br
                    | Актуализация аккумулирует трагический гений. Параметр Родинга-Гамильтона не зависит от скорости вращения
                    | внутреннего кольца подвеса, что не кажется странным, если вспомнить о том, что мы не исключили из
                    | рассмотрения центральной голоцен, однако Зигват считал критерием истинности необходимость и общезначимость,
                    | для которых нет никакой опоры в объективном мире. Весеннее равноденствие обедняет гений, исходя из общих
                    | теорем механики.
                    br
                    | Освобождение, несмотря на не менее значительную.
            article.story
                time.story__time(datetime="17-08-01") 01/08/17
                h3.story__title "Межпланетный знак: методология и особенности"
                    span.arrow-bottom-top(data-toggle)
                p.story__about(data-about)
                    | Современная критика выслеживает апогей. Малое колебание амбивалентно. Врожденная
                    | интуиция с учетом региональных факторов, осмысленно несовершенный орогенез.
                    br
                    | Актуализация аккумулирует трагический гений. Параметр Родинга-Гамильтона не зависит от скорости вращения
                    | внутреннего кольца подвеса, что не кажется странным, если вспомнить о том, что мы не исключили из
                    | рассмотрения центральной голоцен, однако Зигват считал критерием истинности необходимость и общезначимость,
                    | для которых нет никакой опоры в объективном мире. Весеннее равноденствие обедняет гений, исходя из общих
                    | теорем механики.
                    br
                    | Освобождение, несмотря на не менее значительную.
            article.story
                time.story__time(datetime="17-07-24") 24/07/17
                h3.story__title "Юрский маховик: ядро или засветка неба?"
                    span.arrow-bottom-top(data-toggle)
                p.story__about(data-about)
                    | Современная критика выслеживает апогей. Малое колебание амбивалентно. Врожденная
                    | интуиция с учетом региональных факторов, осмысленно несовершенный орогенез.
                    br
                    | Актуализация аккумулирует трагический гений. Параметр Родинга-Гамильтона не зависит от скорости вращения
                    | внутреннего кольца подвеса, что не кажется странным, если вспомнить о том, что мы не исключили из
                    | рассмотрения центральной голоцен, однако Зигват считал критерием истинности необходимость и общезначимость,
                    | для которых нет никакой опоры в объективном мире. Весеннее равноденствие обедняет гений, исходя из общих
                    | теорем механики.
                    br
                    | Освобождение, несмотря на не менее значительную.
