.events {
  width: 100%;
  min-height: 15rem;
  background-color: $dark-background;
  margin-top: 8rem;
  .container {
    padding: 3rem 15rem;
  }
  &__list {
    min-height: 15rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  &__item {
    flex-basis: 20%;
  }
  &__link {
    position: relative;
    text-decoration: none;
  }
  &__time {
    font-family: $ff-main;
    font-size: 1.4rem;
    color: $light-fonts-color;
  }
  &__news {
    font-family: $ff-main;
    font-size: 1rem;
    text-transform: uppercase;
    color: $main-fonts-color;
    background-color: $light-background;
    border: 1px solid $light-background;
    border-radius: 3px;
    margin-left: 0.5rem;
  }
  .action {
    position: absolute;
    box-sizing: border-box;
    padding-left: 1.3rem;
    top: -0.2rem;
    width: 6.2rem;
    height: 1.6rem;
    background-image: url("../images/action.png");
    background-size: cover, 6.2rem 1.6rem;
    font-family: $ff-additional;
    background-color: transparent;
    border: none;
    border-radius: 0;
  }
  &__about {
    font-family: $ff-main;
    font-size: 1.4rem;
    color: $main-fonts-color;
  }
  .carousel-labels {
    display: none;
  }
}

@media (max-width: 1307px) {
  .events {
    .container {
      padding: 3rem 4rem;
    }
    &__list {
      flex-wrap: nowrap;
    }
    &__item {
      margin: 0 1rem;
    }
  }
}

// Small devices (landscape phones)
@media (max-width: 768px) {
  .events {
    .container {
      padding: 3rem 4rem;
    }
    &__list {
      justify-content: center;
    }
  }
}

// Small devices (phones)
@media (max-width: 640px) {
  .events {
    .container {
      margin: 0;
    }
    &__item {
      display: none;
      flex-basis: 100%;
    }
    &__item:first-child {
      display: block;
    }
    &__about {
      font-size: 2.2rem;
    }
    .carousel-labels {
      display: inline-block;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      margin: 0;
      padding: 0;
    }
    .carousel-label {
      display: inline-block;
      width: 10px;
      height: 10px;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background: $main-fonts-color;
      margin: 0 6px;
      &:nth-child(1) {
        background: $light-fonts-color;
      }
    }
  }
}