.footer {
  position: relative;
  min-height: 25rem;
  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
    padding: 0 15rem;
  }
  &__wrapper {
    width: 22.5rem;
    min-height: 25rem;
    margin: 0;
    padding: 0;
  }
  &__list {
    flex-basis: 22.5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    margin: 0;
    margin-top: 4rem;
    margin-bottom: 3rem;
    padding: 0 6rem 0 0;
  }
  &__item {
    position: relative;
    width: 2rem;
    min-height: 2rem;
  }
  &__title {
    position: absolute;
    width: 1.6rem;
    min-height: 1.6rem;
    background-color: transparent;
  }
  .footer-sect {
    &__title {
      margin-top: 4rem;
    }
    &__list {
      text-decoration: none;
      padding: 0;
    }
    &__about {
      font-family: $ff-main;
      font-size: 1.4rem;
      color: $highlighted-fonts-color;
    }
  }
  .footer-sect:last-child {
    margin-top: 6.7rem;
  }
  &__phone {
    font-family: $ff-additional;
    font-size: 2.4rem;
    color: $bold-fonts-color;
    margin: 0;
    margin-right: 1rem;
  }
  &__address {
    font-family: $ff-main;
    font-size: 1.4rem;
    color: $main-fonts-color;
    margin: 0;
    padding: 0;
  }
  &__mail {
    font-family: $ff-main;
    font-size: 1.4rem;
    color: $highlighted-fonts-color;
    margin: 0;
    padding: 0;
  }
}



//@media (max-width: 768px) {
//  .footer {
//    &__up {
//      display: none;
//    }
//    &__wrapper {
//      flex-direction: column;
//      justify-content: center;
//      flex-wrap: wrap;
//      align-content: center;
//      align-items: center;
//    }
//    &__list {
//      margin-top: 2.5rem;
//      margin-bottom: 0;
//    }
//    &__author {
//      padding: 0.7rem 0 1rem 0;
//    }
//  }
//}