.footer {
  position: relative;
  min-height: 25rem;
  &__wrapper {
    width: 100%;
    min-height: 25rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  &__list {
    flex-basis: 22.5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  &__item {
    position: relative;
    width: 2rem;
    min-height: 2rem;
  }
  &__title {
    position: absolute;
    width: 2rem;
    min-height: 2rem;
    background-color: transparent;
  }
}



//@media (max-width: 768px) {
//  .footer {
//    &__up {
//      display: none;
//    }
//    &__wrapper {
//      flex-direction: column;
//      justify-content: center;
//      flex-wrap: wrap;
//      align-content: center;
//      align-items: center;
//    }
//    &__list {
//      margin-top: 2.5rem;
//      margin-bottom: 0;
//    }
//    &__author {
//      padding: 0.7rem 0 1rem 0;
//    }
//  }
//}