.header {
  position: relative;
  background-color: $clean-background;
  margin: 0;
  padding: 0;
  .wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding: 1rem 4rem;
    margin: 0;
  }
  .logo {
    width: 14.6rem;
    line-height: 1;
    margin-right: 2rem;
  }
  .toggle {
    display: none;
  }
  .comparison {
    position: relative;
    margin-left: 3rem;
    &__link {
      font-family: $ff-main;
      font-size: 1.4rem;
      text-decoration: none;
      color: $highlighted-fonts-color;
      &:hover {
        font-weight: bold;
      }
    }
    &__ico-list {
      position: absolute;
      content: '';
      width: 1.6rem;
      height: 1.6rem;
      top: 50%;
      left: -3rem;
      transform: translateY(-50%);
      background-image: url("../images/icons/ico-list.svg");
      background-size: cover, 1.6rem 1.6rem;
    }
    &__ico-circle {
      position: absolute;
      left: -2rem;
      top: -0.5rem;
      width: 1.6rem;
      height: 1.6rem;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background-color: $highlighted-fonts-color;
    }
    &__ico-number {
      @include centerer-xy();
      font-family: $ff-additional;
      font-size: 1rem;
      color: $light-background;
    }
  }
  .account {
    font-family: $ff-main;
    font-size: 1.4rem;
    color: $main-fonts-color;
    text-decoration: none;
    padding: 0.25rem 1.6rem;
    border: 1px solid $dark-background;
    border-radius: 8%/50%;
    margin: 0 2rem;
    &__text {
      position: relative;
      margin-right: 2rem;
      &:before {
        @include centerer-y();
        content: '';
        width: 0;
        height: 0;
        right: -2rem;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 8px solid $light-fonts-color;

      }
    }
  }
  .phone {
    font-family: $ff-additional;
    font-size: 1.8rem;
    color: $bold-fonts-color;
  }
  .btn-phone {
    position: relative;
    width: 6rem;
    height: 6rem;
    border: none;
    background: transparent;
    &:hover, &:active {
      &:before {
        @include centerer-xy();
        content: '';
        width: 4.8rem;
        height: 4.8rem;
        background: transparent;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border: 1px solid $transparent-purple;
      }
      &:after {
        @include centerer-xy();
        content: '';
        width: 5.8rem;
        height: 5.8rem;
        background: transparent;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border: 1px solid $light-transparent-purple;
      }
    }
    &:active, &:focus {
      outline: none !important;
    }
    &::-moz-focus-inner {
      border: 0 !important;
    }
    &__phone-circle {
      @include centerer-xy();
      width: 3.6rem;
      height: 3.6rem;
      background: $highlighted-fonts-color;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
    }
    &__ico-telephone {
      @include centerer-xy();
      width: 1.8rem;
      height: 2rem;
      background-image: url("../images/icons/ico-telephone.svg");
      background-size: cover, 1.6rem 1.6rem;
    }
  }
  .container {
    margin: 0 4rem;
  }
  .hero {
    width: 100%;
    min-height: 23rem;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    &__about {
      position: absolute;
      left: 0;
      top: 14.3rem;
      padding: 0 2rem;
      padding-top: 1.5rem;
      margin: 0;
      font-family: $ff-additional;
      font-size: 1.4rem;
      color: $light-fonts-color;
      background-color: $clean-background;
      line-height: 1.4rem;
    }
    &__title {
      position: absolute;
      left: 0;
      top: 17.2rem;
      padding: 1rem 2rem 0;
      margin: 0;
      font-family: $ff-additional;
      font-size: 4.8rem;
      color: $bold-fonts-color;
      background-color: $clean-background;
      line-height: 1;
    }
  }
}


@media (max-width: 1280px) {
  .header {
    .logo {
      margin-right: auto;
    }
    .toggle {
      margin-left: 4rem;
      margin-right: 1rem;
      display: block;
    }
    .comparison {
      display: none;
    }
    .account {
      display: none;
    }
  }
}


// Small devices (landscape phones)
//@media (max-width: 768px) {
//  .header {
//    .logo {
//      margin-right: auto;
//    }
//    .toggle {
//      margin-left: 4rem;
//      margin-right: 1rem;
//      display: block;
//    }
//    .comparison {
//      display: none;
//    }
//    .account {
//      display: none;
//    }
//  }
//}

// Small devices (phones)
@media (max-width: 640px) {
  .header {
    .hero {
      &__about {
        display: none;
      }
      &__title {
        display: none;
      }
    }
  }
}