.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  margin-right: auto;
  &__link {
    display: table-cell;
    margin: 0 1rem;
    padding: .7rem 0;
    vertical-align: top;
    font-family: $ff-main;
    font-size: 1.4rem;
    letter-spacing: 0.1em;
    text-decoration: none;
    color: $highlighted-fonts-color;
    transition: 0.3s;
  }
  &__link:hover {
    font-weight: bold;
  }
  &__link:active {
    font-weight: bold;
  }
}


// Small devices (landscape phones)
@media (max-width: 1307px) {
  .nav {
    display: none;
    &__link {
      padding: 0;
      margin: .5rem auto;
      font-size: 1rem;
    }
    &__link--active::after {
      display: none;
    }
    &.open {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-content: center;
      align-items: stretch;
      flex-direction: column;
      flex-basis: 100%;
      margin-top: 1rem;
    }
  }
}