.icon-facebook {
  background: url(../images/icons/ico-facebook.svg) 1.6rem 1.6rem no-repeat;
  background-position: center;
  background-size: cover;
}
.icon-vkontakte {
  background: url(../images/icons/ico-vk.svg) 2rem 1rem no-repeat;
  background-position: center;
  background-size: cover;
}
.icon-instagram {
  background: url(../images/icons/ico-instagram.svg) 1.6rem 1.6rem no-repeat;
  background-position: center;
  background-size: cover;
}
.icon-odnoklassniki {
  background: url(../images/icons/ico-odnoklassniki.svg) 1rem 2rem no-repeat;
  background-position: center;
  background-size: cover;
}
.icon-youtube {
  background: url(../images/icons/ico-youtube.svg) 1.8rem 1.3rem no-repeat;
  background-position: center;
  background-size: cover;
}